@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    text-decoration: none !important;
    list-style: none !important;
}

body {
    font-family: "Montserrat", sans-serif;
}

.cursor {
    cursor: pointer;
}

.heading-color {
    color: #1a7ef2;
    font-weight: 400;
}

.brand-logo img {
    height: calc(25px + (34 - 25) * ((100vw - 320px) / (1920 - 320)));
}

.table-cart {
    border: 1px solid #eee;
}

.cart-img img {
    height: 90px;
}

.cart-1 td {
    vertical-align: middle;
    font-weight: 500;
}

.btn-line {
    border: 1px solid black;
}

.qty-input {
    width: 60px;
    text-align: center;
}

.basic-product {
    background-color: white;
}

.main {
    padding-top: 100px;
}

.product-card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height: 100%;
}

.product-card:hover {
    transform: translateY(-5px);
}

.padding-qty {
    padding: 10px 15px;
}

* {
    box-sizing: border-box;
    /* outline:1px solid ;*/
}

body {
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #e1e8ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e8ed', GradientType=0);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.wrapper-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper-2 {
    padding: 30px;
    text-align: center;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 4em;
    letter-spacing: 3px;
    color: #5892FF;
    margin: 0;
    margin-bottom: 20px;
}

.wrapper-2 p {
    margin: 0;
    font-size: 1.3em;
    color: #aaa;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

.go-home {
    color: #fff;
    background: #5892FF;
    border: none;
    padding: 10px 50px;
    margin: 30px 0;
    border-radius: 30px;
    text-transform: capitalize;
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}

.footer-like {
    margin-top: auto;
    background: #D7E6FE;
    padding: 6px;
    text-align: center;
}

.footer-like p {
    margin: 0;
    padding: 4px;
    color: #5892FF;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

.footer-like p a {
    text-decoration: none;
    color: #5892FF;
    font-weight: 600;
}

@media (min-width:360px) {
    h1 {
        font-size: 4.5em;
    }

    .go-home {
        margin-bottom: 20px;
    }
}

@media (min-width:600px) {
    .content {
        max-width: 1000px;
        margin: 0 auto;
    }

    .wrapper-1 {
        height: initial;
        max-width: 620px;
        margin: 0 auto;
        margin-top: 50px;
        box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
    }

}