<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Huraaahh</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="d-flex justify-content-center align-items-center vh-100">
    <div class=content>
        <div class="wrapper-1">
            <div class="wrapper-2">
                <h1>Thank you !</h1>
                <p>Thanks For Buying Our Product...</p>
                <p>You Will receive a Gift Voucher soon </p>
                <button class="go-home">
                    <a href="/" class="text-priamry fw-bold">go home</a>
                </button>
            </div>
            <div class="footer-like">
                <p>What To Buy More 🤔
                    <a href="/">Click Here To Purchase🥳</a>
                </p>
            </div>
        </div>
    </div>

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">

    <script>
        confetti({
            particleCount: 100,
            spread: 70,
            origin: { y: 0.6 },
        });
    </script>

</body>

</html>